html{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    margin: 5px;
    padding: 0;
    text-align: center;

}

h1{
    font-size: 55px;
    background-color: #fff48f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
}
h3{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    padding: 5px;
    
}

/* Parallax effect */
.title{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    padding: 20px;
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    background-color: black;
    color: #fff48f;
    height: 500px; 
    background-image: url("../images/big_house.JPG");
    background-repeat: no-repeat;
}

h4{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

nav li{
    display:inline;
    padding-right: 20px;
    padding-top: 10px;
}

nav{
    padding: 25px 0;    
    text-align: left;  
    width: 100%; 
    
  }
  
footer{
    background-color: #fff48f;
    color: black;
    text-align: center;  
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.socials img{
    width: 39px; 
    height: 39px; 
    object-fit: cover;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{ 
    text-decoration: underline; 
    background-color: #fff48f;
} 
nav #current{
    background-color: #fff48f;
    text-decoration: underline;
    border: 1px solid black
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}
.skip a:focus{
    position: absolute;
    top: 0px;
}


*:focus{
    border: 2px solid black;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}   

/* ALL IMAGE STYLING HERE */
img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
}

#about_me{
    grid-column: 1/-1;
    line-height: 1.3;
   
}
#headshot{
    grid-column: 1/-1;

}
#description{
    grid-column: 1/-1;
    line-height: 1.3;

}

#monty{
    grid-column: 1/-1;

}
#manor{
    grid-column: 1/-1;

}
#family{
    grid-column: 1/-1;

}
#wilmas{
    grid-column: 1/-1;
 
}
#arb{
    grid-column: 1/-1;
    
}
#jacket{
    grid-column: 1/-1;
    
}
#rainbow{
    grid-column: 1/-1;
   
}
#sunset{
    grid-column: 1/-1;
   
}
#extra_p{
    grid-column: 1/-1;
    line-height: 1.3; 
}

#city{
    grid-column: 1/-1;
    padding-bottom: 75px;
}

.container_experiences{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}
#section1{
    grid-column: 1/-1;
}

#GM{
    grid-column: 1/-1;
    width: 20%;
    justify-self: center;
}
#co_titleGM{
    grid-column: 1/-1;
}
#positionGM{
    grid-column: 1/-1;
}
#GM_text{
    grid-column: 1/-1;
    line-height: 1.3;
    margin: 0px 30px 0px 30px; 
}

#morningbrew{
    grid-column: 1/-1;
    width: 35%;
    justify-self: center;
    padding-top: 30px;
}
#co_titleMB{
    grid-column: 1/-1;
}
#positionMB{
    grid-column: 1/-1;
}
#morningbrew_text{
    grid-column: 1/-1;
    line-height: 1.3;
    margin: 0px 30px 0px 30px;
}

#tennis{
    grid-column: 1/-1;
    width: 20%;
    justify-self: center;
    padding-top: 30px;
}
#co_titleJM{
    grid-column: 1/-1;
}
#positionJM{
    grid-column: 1/-1;
}
#tennis_text{
    grid-column: 1/-1;
    line-height: 1.3;
    margin: 0px 30px 0px 30px;
}

#section2{
    grid-column: 1/-1;
}

#leanin{
    grid-column: 1/-1;
    width: 20%;
    justify-self: center;
    padding-top: 30px;
}
#co_titleL{
    grid-column: 1/-1;
    
}
#positionL{
    grid-column: 1/-1;
}
#leanin_text{
    grid-column: 1/-1;
    line-height: 1.3;
    margin: 0px 30px 0px 30px;
}

#ACS{
    grid-column: 1/-1;
    width: 20%;
    justify-self: center;
    padding-top: 30px;
}
#co_titleACS{
    grid-column: 1/-1;
}
#ACS_text{
    grid-column: 1/-1;
    margin: 0px 30px 0px 30px;
}

#chio{
    grid-column: 1/-1;
    width: 20%;
    justify-self: center;
    padding-top: 30px;
}
#co_titleXO{
    grid-column: 1/-1;
}
#chio_text{
    grid-column: 1/-1;
    padding-bottom: 70px;
    line-height: 1.3;
    margin: 0px 30px 0px 30px;
}

/* SKILLS PAGE HERE */
.container_skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
}

#microsoftlogo{
    padding-left: 10px;
    width: 15%;
    justify-self: center;
    grid-column:1/2;
    grid-row: 1/2;
}

#microsoft_text{
    padding-right: 10px;
    grid-column: 2/-1;
    grid-row: 1/2;
    line-height: 1.3;
}


#adobe_text{
    padding-right: 10px;
    grid-column: 2/-1;
    grid-row: 2/3;
    line-height: 1.3;
}

#adobelogo{
    padding-left: 10px;
    width: 15%;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

#coding{
    padding-right: 10px;
    grid-column: 2/-1;
    grid-row: 3/4;
    line-height: 1.3;
}

#pythonlogo{
    padding-left: 10px;
    width: 18%;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
}

#class{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    grid-column: 1/-1;
    grid-row: 4/-1;
    line-height: 1.3;
}

form{
	background: #fcf7c4;
	padding-left: 30px 20px 30px 20px;
	width: 100%;
    text-align: center;
}
input[type=text], select {
    width: 80%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    margin: 8px 0;
    border: 2px solid #838383;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
    border-radius: 20px;
  }
  

@media screen and (min-width: 750px) {
    body{
        font-size: 18px;
        margin: 5px;
        padding: 0;
        text-align: center;
    }
    
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-row-gap: 10px;
    }
 

    #about_me{
        grid-column: 2/3;
        grid-row:2/3;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        
    }
    #headshot{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #description{
        grid-column: 2/3;
        grid-row: 4/5;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        
    }
    #extra_p{
        grid-column: 2/3;
        grid-row: 5/6;
        padding-top: 70px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    #monty{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #manor{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    #family{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #wilmas{
        grid-column: 1/2;
        grid-row: 6/-1;
    }
    #arb{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #jacket{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    #rainbow{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #sunset{
        grid-column: 3/4;
        grid-row: 6/-1;
    }

    #city{
        grid-column: 2/3;
        grid-row: 6/-1
    }
    .container_experiences{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 15px;
    }
    #section1{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #GM{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 50%;
        
    }
    #co_titleGM{
        grid-column: 2/4;
        padding-bottom: 5px;
        grid-row: 2/3;
    }
    #positionGM{
        grid-column: 2/4;
        grid-row: 2/3;
        padding-top: 30px;
    }
    #GM_text{
        grid-column: 2/4;
        grid-row: 2/3;
        padding-top: 45px;
    }
    
    
    #morningbrew{
        grid-column: 3/4;
        grid-row: 3/4;
        width: 50%;
        
    }
    #co_titleMB{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #positionMB{
        grid-column: 1/3;
        grid-row: 3/4;
        padding-top: 30px;
    }
    #morningbrew_text{
        grid-column: 1/3;
        grid-row: 3/4;
        padding-top: 45px;
    }

    
    #tennis{
        grid-column: 1/2;
        grid-row: 4/5;
        width: 50%;
    }
    #co_titleJM{
        grid-column: 2/4;
        grid-row: 4/5;
    }
    #positionJM{
        grid-column: 2/4;
        grid-row: 4/5;
        padding-top: 30px;
    }
    #tennis_text{
        grid-column: 2/4;
        grid-row: 4/5;
        padding-top: 60px;
    }
    
    #section2{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    
    #leanin{
        grid-column: 3/4;
        grid-row: 6/7;
        width: 50%;
    }
    #co_titleL{
        grid-column: 1/3;
        grid-row: 6/7;
        
    }
    #positionL{
        grid-column: 1/3;
        grid-row: 6/7;
        padding-top: 30px;
    }
    #leanin_text{
        grid-column: 1/3;
        grid-row: 6/7;
        padding-top:60px;
    }
    
    #ACS{
        grid-column: 1/2;
        grid-row: 7/8;
        width: 50%;
    }
    #co_titleACS{
        grid-column: 2/4;
        grid-row: 7/8;
    }
    #ACS_text{
        grid-column: 2/4;
        grid-row: 7/8;
        padding-top: 30px;
    }
    
    #chio{
        grid-column: 3/4;
        grid-row: 8/-1;
        width: 50%;
        padding-bottom: 100px;
    }
    #co_titleXO{
        grid-column: 1/3;
        grid-row: 8/-1;
    }
    #chio_text{
        grid-column: 1/3;
        grid-row: 8/-1;
        padding-top: 30px;
        
    }


    nav ul {
        flex-direction: row;
        justify-content: space-around;
        
      }

      #microsoftlogo{
        padding-left: 10px;
        width: 20%;
        justify-self: center;

    }
    
    #microsoft_text{
        padding-right: 10px;
    }
    

    #adobe_text{
        padding-right: 10px;
        
    }
    
    #adobelogo{
        padding-left: 10px;
        width: 20%;
        justify-self: center;
        
    }
    
    #coding{
        padding-right: 10px;
    }
    
    #pythonlogo{
        padding-left: 10px;
        width: 20%;
        justify-self: center;
        
    }
    
    
    #class{
        padding-left: 10px;
        padding-right: 10px; 
    }

    .flip-card { 
        padding-bottom: 75px;
        background-color: transparent;
        padding-bottom: 100px;
        width: 100%;
        height: 100%;
        perspective: 1000px; 
      } 
      
     
      .flip-card-inner {
        grid-column: 2/4;
        grid-row: 3/4;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      } 
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      } 

      .flip-card:focus-within .flip-card-inner {
        transform: rotateY(180deg);
      } 

      
      .flip-card-front, .flip-card-back {
        grid-column: 2/4;
        grid-row: 3/4;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
      } 
      
    
       .flip-card-front {
        background-color: #fcf7c4;
        color: black;
      } 
      

     .flip-card-back {
        background-color: transparent;
        color: black;
        transform: rotateY(180deg);
      } 


    #adobelogo{
        animation-name: stretch;
        animation-duration: 5s;
    }

    @keyframes stretch{
        from{
            width: 50px;
            opacity: 0;
        }
        to{
            width: 200px;
            opacity: 1;
        }
    }
}


@media screen and (min-width: 1200px) {

    body{
        font-size: 22px;
        margin: 10px;
        padding: 0;
        text-align: center;
    }

    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-row-gap: 25px;
    }

    #about_me{
        grid-column: 1/span 4;
        grid-row:2/3;
        padding-top: 25px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 25px;
    }

    #about_me:hover{
        border: 2px solid #c767a0;
    }

    #headshot{
        grid-column: 2/4;
        grid-row: 3/4;
    }

    #headshot:hover{
        border: 5px dashed #c767a0;
    }
     
    #description{
        grid-column: 1/span 4;
        grid-row: 5/6;
        padding-top: 25px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 25px;

    }

    #description:hover{
        border: 2px solid #c767a0;
    }

    #extra_p{
        grid-column: 2/4;
        grid-row: 6/7;
        padding-top: 200px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 200px;
    }

    #extra_p:hover{
        border: 2px solid #c767a0;
    }
    
    #monty{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #manor{
        grid-column: 4/-1;
        grid-row: 4/5;
    }
    #family{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    #wilmas{
        grid-column: 2/4;
        grid-row: 7/-1;
        max-height: 500px;
    }
    #arb{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    #jacket{
        grid-column: 4/-1;
        grid-row: 6/7;
    }
    #rainbow{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    #sunset{
        grid-column: 4/-1;
        grid-row: 7/-1;
        padding-bottom: 35px;
    }

    #city{
        grid-column: 1/2;
        grid-row: 7/-1;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }

}
    

@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
        scroll-behavior: auto; 
    }
    .skip a{
      -webkit-transition: initial; 
      transition: initial; 
    }

    .flip-card-inner{
        transition: transform none;
    }
    #adobelogo{
        animation: none;
    }

    .title{
        background-attachment: initial;
    }
}
